/*Estilos Generales*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #450693;
}

h3{
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

p{
     font-family: 'Alegreya Sans', sans-serif;
     font-weight: bold;
}

a{
    text-decoration: none;
}

/*Estilos para el header*/

header{
    padding-top: 10px;
}

header ul{
    display:flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 300px;
    height: 100px;
}

header button{
    font-family: 'Exo 2', sans-serif;
    width: 160px;
    height: 40px;
    font-weight: 600px;
    font-size: 1rem;
    border-radius: 8px;
    background: #8C00FF;
    color: white;
    margin-bottom: 15px;
    margin-right: 30px;
}

header button:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);;
}

/*Estilos para el navbar*/

.navbar{
    background-color: #8C00FF;
    padding: 0 20px;
    border: 3px solid #FFC400;
    flex-wrap: wrap;
}
.navbar ul{
    display:flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}
.navbar li{
    margin:0 16px;
    padding: 0 50px;
}
.navbar a{
    color: #FF3F7F;
    font-family: 'Exo 2', sans-serif;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 25px;
    text-decoration: none;
    transition: all 0,3s ease;
    position: relative;
     text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.navbar a:hover{
    color: #8C00FF;
    background-color: #FFC400;
}
.navbar a:hover::after{
    width: 80px;
}

/*Estilos para la página de inicio (index.html)*/

#inicio_video {
    text-align: center; 
}

#inicio_video h3{
    color: white;
    font-size: 2.3rem;
    padding-top: 40px;
}

.video-centro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.video-centro video{
    max-width: 90%;
    height: auto;
    display: block;
    padding: 40px 0;
}

.contenido_cuadros{
    margin: 70px;
    background: #8C00FF;
    border: 4px solid #FFC400;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.contenido_cuadros h3{
    text-align: center;
    padding: 20px 20px;
    color:#FF3F7F;
    font-size: 3rem;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.contenido_cuadros p{
    text-align: center;
    padding: 10px 30px;
    color: white;
    font-size: 1.8rem;
}

.contenido_cuadros img{
    width: 150px;
    height: 150px;
}

.contenido_cuadros ul{
    display:flex;
    list-style: none;
    justify-content: space-between;
    padding: 30px;
}

#contenido2{
    margin: 120px;
    margin-top: 0;
    margin-bottom: 40px;
}

#contenido2 p{
    margin: 20px;
}

.sugerencias{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sugerencias img{
    width: 300px;
    height: 250px;
    
}
.sugerencias ul{
    display:flex;
    list-style: none;
    justify-content: center;
    padding: 20px;
}

.sugerencias_bloque{
    background: #FFC400;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
    width: 50vw; 
    min-height: 250px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 5px;
}

.sugerencias_bloque h3{
    color:#450693;
    padding: 20px 30px;
}

#texto{
    color:#8C00FF;
    padding: 0 50px;
    text-align:justify;
}

.botones_inicio{
    display: block;              
    margin: 40px auto;          
    width: 300px;
    height: 60px;
    font-size: 2.5rem;
    font-family: 'Exo 2', sans-serif;
    border-radius: 8px;
    background: #8C00FF;
    color: white;
    border: 2px solid black;
    text-align: center;          
    line-height: 60px;           
}

.botones_inicio:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);;
}

/*Estilos para el footer*/

footer{
    border: 2px solid black;
    background: #8C00FF;
}

footer h3{
    color:white;
    font-size: 2rem;
    padding: 20px 0;
    text-align: center;
}

#slogan{
    font-style: italic;
}

footer ul{
    display:flex;
    list-style: none;
    justify-content: center;
}

footer img{
    width: 90px;
    height: 90px;
    padding: 20px 20px;
}

footer p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

/*Estilos para la página de tutoriales (tutoriales.html)*/

.titulo h3{
    color: white;
    font-size: 2.3rem;
    padding: 40px;
    text-align: center;
}

.contenido_cuadros_tutoriales{
    margin: 70px;
    background: #8C00FF;
    border: 4px solid #FFC400;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.contenido_cuadros_tutoriales h3{
    text-align: center;
    padding: 40px 40px;
    color: white;
    font-size: 3rem;
}

.contenidointerno_tutoriales{
    display: flex;                      
    align-items: center; 
    gap: 32px;
}

.contenidointerno_tutoriales img{
    max-width: 100%;        
    width: 700px;
    height: auto;
    border-radius: 8px; 
    display: block;
    margin-left: 50px;
    margin-top: 20px;
    padding-bottom: 40px;
    object-fit: contain;
}

.contenido_cuadros_tutoriales p{
    margin: 30px;
    margin-top: 25px;
    color: white;
    font-size: 1.8rem;
    text-align: justify;
}

.botones_tutorial{
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    width: 320px;
    height: 75px;
    font-size: 2.5rem;
    border: 4px solid black;
    border-radius: 8px;
    background: #FFC400;
    color: #FF3F7F;
    display: block;
    margin: 40px auto;
    text-align: center;   
    padding-top: 5px; 
}

.botones_tutorial:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);;
}

/*Estilos para la página de portafolio (portafolio.html)*/

.titulo p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 80px;
    padding-top: 40px;
}

.contenedor_portafolio{
      display: flex;
      gap: 24px;                
      justify-content: center;  
      flex-wrap: wrap;       
      padding-bottom: 70px;  
      align-items: stretch; 
}

.portafolio_rojo{
    background: #FF3F7F;
    border: 4px solid black;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    overflow: hidden;
    max-width: 425px;      
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.portafolio_rojo h3{
    text-align: center;
    color: white;
    padding: 30px;
}

.portafolio_rojo img{
    display: block;
    margin: 20px auto; 
    max-width: 90%;    
    height: auto;
}

.portafolio_rojo p{
    padding: 0 20px;
    padding-top: 40px;
    text-align: center;
    font-size: 1.3rem;
    color: white;
}

.botones_amarillo{
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    width: 250px;
    height: 75px;
    font-size: 2.5rem;
    border: 4px solid black;
    border-radius: 8px;
    background: #FFC400;
    color: black;
    display: block;
    margin: 40px auto;
    text-align: center;
    padding-top: 5px;
}

.botones_amarillo:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);;
}

.portafolio_amarillo{
    background: #FFC400;
    border: 4px solid black;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    overflow: hidden;
    max-width: 425px;      
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.portafolio_amarillo h3{
    text-align: center;
    color: black;
    padding: 30px;
}

.portafolio_amarillo img{
    display: block;
    margin: 20px auto; 
    max-width: 90%;    
    height: auto;
}

.portafolio_amarillo p{
    padding: 0 20px;
    padding-top: 40px;
    text-align: center;
    font-size: 1.3rem;
    color: black;
}

.botones_rojo{
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    width: 250px;
    height: 75px;
    font-size: 2.5rem;
    border: 4px solid black;
    border-radius: 8px;
    background: #FF3F7F;
    color: black;
    display: block;
    margin: 40px auto;
    text-align: center;
    padding-top: 5px;
}

.botones_rojo:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);;
}

.navegar_portafolios{
    background-color: #8C00FF;
    padding: 0 20px;
    margin:  0 50px;
    margin-bottom: 50px;
    border: 3px solid black;
    flex-wrap: wrap;
}

.navegar_portafolios ul{
    display:flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.navegar_portafolios li{
    margin:0 16px;
    padding: 0 50px;
}

.navegar_portafolios a{
    color: black;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 15px 25px;
    text-decoration: underline;
    transition: all 0,3s ease;
    position: relative;
}

.navegar_portafolios a:hover{
    color:white;
}

/*Estilos para la página de recursos (recursos.html)*/

.subtitulo{
    margin: 0 80px;
}
.contenedor_amarillo{
    margin: 70px;
    background: #8C00FF;
    border: 6px solid #FFC400;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.contenedor_amarillo h3{
    text-align: left;
    color: white;
    padding: 30px;
}

.contenedor_recursos{
    display: flex;                
    justify-content: center;  
    flex-wrap: wrap;       
    align-items: stretch; 
    padding-top: 20px;
}

.botones_recursos_amarillos{
    background: #FFC400;
    border-radius: 7px;
    overflow: hidden;
    max-width: 425px;      
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.botones_recursos_amarillos h3{
    text-align: center;
    color: white;
    padding: 25px;
}

.botones_recursos_amarillos img{
    display: block;
    margin: 20px auto; 
    max-width: 80%;    
    height: auto;
}

.botones_recursos_amarillos:hover{
    border: 4px solid black;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    transform: scale(1.05);
}

.contenedor_rojo{
    margin: 70px;
    background: #8C00FF;
    border: 6px solid #FF3F7F;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.contenedor_rojo h3{
    text-align: left;
    color: white;
    padding: 30px;
}

.botones_recursos_rojos{
    background: #FF3F7F;
    border-radius: 7px;
    overflow: hidden;
    max-width: 425px;      
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.botones_recursos_rojos h3{
    text-align: center;
    color: white;
    padding: 20px;
}

.botones_recursos_rojos img{
    display: block;
    margin: 20px auto; 
    max-width: 80%;    
    height: auto;
}

.botones_recursos_rojos:hover{
    border: 4px solid black;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    transform: scale(1.05);
}

#imagen_modelo3D{
    height: 200px;
}

#imagen_sonido{
    height: 275px;
}

#imagen_documento{
    height: 205px;
}

/*Estilos para la página de comunidad(comunidad.html)*/

#aviso_titulo{
    font-size: 3rem;
}

#aviso_subtitulo{
    font-size: 2.5rem;
}

/*Estilos para las páginas en construcción (construcción.html)*/

.titulo{
    text-align: center;
}

#leyenda_construccion{
    margin: 0 70px;
}

/*Estilos para la página de introducción al desarrollo de videojuegos (introduccion.html)*/

#contenedor_introduccion{
    padding: 70px 0;
}

.imagen_introduccion{
    height: 340px;
}

/*Estilos para la página de ¿Qué es el desarrollo de videojuego? (desarrollo.html)*/

.contenido_cuerpo{
    color:white;
    margin: 20px 70px;
    text-align: justify;
}

.contenido_cuerpo p{
    font-size: 1.5rem;
    padding: 30px 0;
}

#texto_introduccion{
    margin: 0 70px;
}

.contenido_cuerpo h3{
    font-size: 3rem;
    padding: 20px 0;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.contenido_cuerpo li{
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 10px 0;
    padding-right: 30px;
}

.contenido_cuerpo ul{
    padding-left: 60px;
}

.contenido_cuerpo ol{
    padding-left: 60px;
}

.secciones_contenido{
    margin: 70px;
    background: #8C00FF;
    border: 4px solid #FFC400;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.secciones_contenido h3{
    padding-left: 30px;
    color:#FF3F7F;
    margin-right: 30px;
}

.secciones_contenido p{
    padding-left: 30px;
    margin-right: 30px;
}

.secciones_contenido li{
    margin-right: 30px;
}

/*Estilos para la página de Cómo elegir un motor de videojuegos (elegirmotor.html)*/

.tabla_responsive{
   width: 100%;
   overflow-x: auto;
}

.secciones_contenido table {
    width: 90%;
    border-collapse: collapse;
    background-color: #450693;
    border-radius: 8px;
    margin: 40px auto;
    overflow: hidden;
}

.secciones_contenido th, td {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    padding: 12px;
    color: white;
}

.secciones_contenido th {
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #FF3F7F;
    color: black;
}

/*Estilos para la página de Contacto (Contacto.html)*/

.contenedor_contacto{
    margin: 70px;
    background: #8C00FF;
    border: 4px solid #FFC400;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.contenedor_contacto h3{
    text-align: center;
    padding: 40px 40px;
    color: white;
    font-size: 3rem;
}

.contenedorinterno_contacto{
    display: flex;                      
    align-items: center; 
    gap: 20px;
}

.contenedorinterno_contacto img{
    max-width: 500px;        
    width: 100%;
    height: 400px;
    border-radius: 8px; 
    margin-left: 50px;
    margin-top: 20px;
    padding-bottom: 40px;
}

.contenedorinterno_contacto p{
    margin: 30px;
    margin-top: 25px;
    color: white;
    font-size: 1.6rem;
    text-align: justify;
    margin-right: 50px;
}

#klonoa_gif{
    display: block;
    margin: 0 auto;
    padding-bottom: 40px;
}

/*Estilos para tamaño de ventana del navegador (responsive)*/

@media (max-width: 1180px) {
  .contenidointerno_tutoriales {
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }
  .contenidointerno_tutoriales img {
    width: 70vw; 
    max-width: 400px;
  }
  .contenidointerno_tutoriales p {
    text-align: center;      
  }
  .contenedorinterno_contacto{
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }
  .contenedorinterno_contacto img{
     width: 70vw; 
    max-width: 400px;
  }
  .contenedorinterno_contacto p{
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }
}