/*Estilos Generales*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #450693;
}

h3{
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

p{
     font-family: 'Alegreya Sans', sans-serif;
     font-weight: bold;
}

a{
    text-decoration: none;
}

/*Estilos para el header*/

header{
    padding-top: 10px;
}

header ul{
    display:flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 300px;
    height: 100px;
}

header button{
    font-family: 'Exo 2', sans-serif;
    width: 160px;
    height: 40px;
    font-weight: 600px;
    font-size: 1rem;
    border-radius: 8px;
    background: #8C00FF;
    color: white;
    margin-bottom: 15px;
    margin-right: 30px;
}

/*Estilos para el navbar*/

.navbar{
    background-color: #8C00FF;
    padding: 0 20px;
    border: 3px solid #FFC400;
    flex-wrap: wrap;
}
.navbar ul{
    display:flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}
.navbar li{
    margin:0 16px;
    padding: 0 50px;
}
.navbar a{
    color: #FF3F7F;
    font-family: 'Exo 2', sans-serif;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 25px;
    text-decoration: none;
    transition: all 0,3s ease;
    position: relative;
     text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.navbar a:hover{
    color: #8C00FF;
    background-color: #FFC400;
}
.navbar a:hover::after{
    width: 80px;
}

/*Estilos para la página de inicio (index.html)*/

#inicio_video {
    text-align: center; 
}

#inicio_video h3{
    color: white;
    font-size: 2.3rem;
    padding-top: 40px;
}

.video-centro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.video-centro video{
    max-width: 90%;
    height: auto;
    display: block;
    padding: 40px 0;
}

.contenido_cuadros{
    margin: 70px;
    background: #8C00FF;
    border: 4px solid #FFC400;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.contenido_cuadros h3{
    text-align: center;
    padding: 20px 20px;
    color:#FF3F7F;
    font-size: 3rem;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.contenido_cuadros p{
    text-align: center;
    padding: 10px 30px;
    color: white;
    font-size: 1.8rem;
}

.contenido_cuadros img{
    width: 150px;
    height: 150px;
}

.contenido_cuadros ul{
    display:flex;
    list-style: none;
    justify-content: space-between;
    padding: 30px;
}

#contenido2{
    margin: 120px;
    margin-top: 0;
    margin-bottom: 40px;
}

#contenido2 p{
    margin: 20px;
}

.sugerencias{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sugerencias img{
    width: 300px;
    height: 250px;
    
}
.sugerencias ul{
    display:flex;
    list-style: none;
    justify-content: center;
    padding: 20px;
}

.sugerencias_bloque{
    background: #FFC400;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
    width: 50vw; 
    min-height: 250px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 5px;
}

.sugerencias_bloque h3{
    color:#450693;
    padding: 20px 30px;
}

#texto{
    color:#8C00FF;
    padding: 0 50px;
    text-align:justify;
}

.sugerencias_bloque button{
    font-family: 'Exo 2', sans-serif;
    width: 300px;
    height: 60px;
    font-size: 2.5rem;
    border-radius: 8px;
    background: #8C00FF;
    color: white;
    margin: 40px;
    display: block;
    margin: 40px auto;
}

/*Estilos para el footer*/

footer{
    border: 2px solid black;
    background: #8C00FF;
}

footer h3{
    color:white;
    font-size: 2rem;
    padding: 20px 0;
    text-align: center;
}

#slogan{
    font-style: italic;
}

footer ul{
    display:flex;
    list-style: none;
    justify-content: center;
}

footer img{
    width: 90px;
    height: 90px;
    padding: 20px 20px;
}

footer p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

/*Estilos para la página de tutoriales (tutoriales.html)*/

.titulo h3{
    color: white;
    font-size: 2.3rem;
    padding: 40px;
    text-align: center;
}

.contenido_cuadros_tutoriales{
    margin: 70px;
    background: #8C00FF;
    border: 4px solid #FFC400;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.contenido_cuadros_tutoriales h3{
    text-align: center;
    padding: 40px 40px;
    color: white;
    font-size: 3rem;
}

.contenido_cuadros_tutoriales ul{
   display: flex;
   align-items: flex-start;
   gap: 2em;                
   flex-wrap: wrap;
}

.contenido_cuadros_tutoriales li{
     list-style: none;
}

.contenido_cuadros_tutoriales img{
   max-width: 700px;        
   width: 100%;
   height: 400px;
   border-radius: 8px; 
   margin-left: 50px;
   margin-top: 20px;
}

.contenido_cuadros_tutoriales p{
    margin: 30px;
    margin-top: 25px;
    color: white;
    font-size: 1.8rem;
    text-align: justify;
}

#desarrollo_resumen{
    margin-top: 50px;
}

.contenido_cuadros_tutoriales button{
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    width: 320px;
    height: 75px;
    font-size: 2.5rem;
    border: 4px solid black;
    border-radius: 8px;
    background: #FFC400;
    color: #FF3F7F;
    display: block;
    margin: 40px auto;
}

#modelado_resumen{
    padding: 0 30px;
    padding-top: 30px;
    font-size: 2rem;
}

#engines_resumen{
    padding-top: 30px;
}

#avanzado_resumen{
    padding-top: 30px;
    font-size: 2rem;
}

@media (max-width: 900px) {
  .contenido_cuadros_tutoriales ul {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  .contenido_cuadros_tutoriales img{
     width: 90%;            
     margin: 0 auto;
  }
  .contenido_cuadros_tutoriales .texto {
    width: 90%;            
    margin: 0 auto;
  }
}

